<h2> Hello World </h2>
<p> Welcome! The time is now: <%= Time.now %> 
</p>

<img src="/images/horizon.jpg" alt="featuredproduct"
     
     <p> <a href="/bikeparts.html"> Come see our Bikeparts page! </p>