<h1>Pages#landing_page</h1>
<p>Find me in app/views/pages/landing_page.html.erb</p>

<h2> Welcome to JobSlate- Discover why we are different </h2>

<p> JobSlate is the leading company in the pay-per-applicant Employment Industry </p>


