// Place all the styles related to the bikeparts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{font-family: 'Times New Roman'; }

table.center {margin-right: auto; margin-left: auto;}


table, thead, tbody, tr, th {border: 1px solid black;
} 

td{ padding: 15px;}

